/* @import "sections/_settings.css" */


.settings {
    h1 {
        margin-bottom: 1rem;
    }
    
    em {
        font-size: 120%;
        font-weight: $font-weight-bold;
        vertical-align: -6%;
    }
    
    .helptext {
        font-size: 90%;
        color: gray;
        font-style: italic;
    }
    
    p {
        padding: 10px;
        font-size: 90%;
        line-height: 160%;
    }
    
    div.message {
        p {
            color: color(red shade(25%));
        }
    }
    div.settingsform:first-child{
        border-top: 1px solid black;
    }

    div.settingsform{
        padding: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid black;
    }
    padding-bottom: 3rem;
}
