/* @import _sections.css */

.section {
    margin-top: 6rem;
    
    .container {
    
        .login-error, .homepage {
            h3 {
                margin-bottom: 1rem;
            }
            
        }
            
        .login-error {
            h4 {
                color: darkred;
                margin: 0 auto;
            }
        }
    }
}